.LoginContainer {
    background: white;
    padding: 100px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;

}

#nomor{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#username {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; 
}

#alamat {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.gender {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.gender label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

select {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: blue;
    width: 100%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: yellowgreen;
}