body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

table {
    border-collapse: collapse;
}

.container {
    width: 100%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url(/ijal.jpg);
    background-size: contain;
}

h2 {
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-top: 10px;
    border: white;
}

th, td {
    border: 1px solid #000000;
   padding: 8px;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
}



tr:nth-child(even) {
    background-color: #ffd2d2;
}

th[rowspan] {
    vertical-align: middle;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
    th, td {
        padding: 6px;
    }
}